body{
    background-color: #f9f9f9;
    font-family: 'Bricolage Grotesque', sans-serif ;
}

header .promo-info{
    color: #ffffff;
    background-color: #000000;
    padding: 10px 8px;
    text-align: center; 
}

.NavegationBar{
    padding: 30px;
}


.NavegationBar .nav-top {
    display: flex;
}

.NavegationBar .logo {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    flex: 1;
}

.NavegationBar .account{
    display: flex;
    gap: 20px;
    align-items: center;
}

.NavegationBar .account img{
    width: 40px;   
    height: 40px; 
}

.NavegationBar .products-menu{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    font-weight: 400;
}

.product{
    display: flex;
    padding: 50px 200px;
    flex-wrap: wrap;
}

.product .info{
    padding-right: 25px;
    width: 500px;
}

.product .info .details{
    text-align: justify;
}